/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
figcaption,
figure {
  display: block;
}

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px;
}

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* Add the correct display in IE.
*/
main {
  display: block;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
========================================================================== */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* 1. Remove the bottom border in Chrome 57- and Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
b,
strong {
  font-weight: inherit;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic;
}

/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #ff0;
  color: #000;
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
audio,
video {
  display: inline-block;
}

/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none;
}

/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
*/
button {
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
  * Remove the inner border and padding in Firefox.
  */
  /**
  * Restore the focus styles unset by the previous rule.
  */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Show the overflow in Edge.
*/
input {
  overflow: visible;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
  * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
  */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto;
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/*
* Add the correct display in IE 9-.
*/
menu {
  display: block;
}

/* Scripting
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
canvas {
  display: inline-block;
}

/**
* Add the correct display in IE.
*/
template {
  display: none;
}

/* Hidden
========================================================================== */
/**
* Add the correct display in IE 10-.
*/
[hidden] {
  display: none;
}

.button, body {
  font-family: "Open Sans", "Verdana", sans-serif;
}

.promo__text, .navigation__list, .link-button, h1 {
  font-family: "Poppins", "Verdana", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  color: #544837;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.4rem;
}
@media (max-width: 414px) {
  h3 {
    font-size: 2.1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3.1rem;
  }
}

h4 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
}

object {
  pointer-events: none;
}

.button {
  padding: 11px 25px 13px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_bordered {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  color: #173a56;
}
.button_bordered:hover {
  background-color: #bcd0e5;
  border-color: #bcd0e5;
}
.button_colored {
  background-color: #ff9900;
  color: #ffffff;
  border: 1px solid #ff9900;
}
.button_colored:hover {
  background-color: #ff7549;
  border-color: #ff7549;
}

.link-button {
  color: #ff9900;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  display: inline-flex;
  align-items: center;
}

.link-button__text {
  margin-left: 9px;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_play {
  background-image: url("../../images/play.svg");
  width: 18px;
  height: 19px;
}

.icon-square {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  align-items: center;
  justify-content: center;
}
.icon-square_lilium {
  background-color: #7752be;
}
.icon-square_yellow {
  background-color: #fab005;
}
.icon-square_red {
  background-color: #f03e3d;
}
.icon-square_blue {
  background-color: #4dadf7;
}

.ico_arrow {
  width: 12px;
  height: 17px;
  background-image: url("../images/arrow.svg");
}

.ico_snake {
  width: 18px;
  height: 14px;
  background-image: url("../images/snake.svg");
}

.ico_heart {
  width: 17px;
  height: 15px;
  background-image: url("../images/heart.svg");
}

.ico_clock {
  width: 15px;
  height: 17px;
  background-image: url("../images//clock.svg");
}

.tags {
  display: flex;
  align-items: center;
  gap: 9px;
}

.tag {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  background: #ffffff;
  border-radius: 90px;
  padding: 0 14px;
}
.tag_selected {
  color: #ffffff;
  background-color: #ff9900;
}
.tag_bordered {
  border: 1px solid #d7d7d7;
}
.tag_colored {
  background-color: #f5f5f5;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #173a56;
  border-radius: 5px;
  position: absolute;
}

.hamburger {
  display: none;
  height: 31px;
  width: 31px;
  position: relative;
  margin-right: 37px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger::before {
  content: "";
  top: 0;
  left: 0;
}
.hamburger::after {
  content: "";
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.logo {
  display: flex;
}

.logo-object {
  width: 160px;
}

.container {
  max-width: 1197px;
  margin: auto;
}
@media (max-width: 1197px) {
  .container {
    padding: 0 46px;
  }
}
@media (max-width: 414px) {
  .container {
    padding: 0 21px;
  }
}

.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container {
    padding-left: 24px;
  }
}

.header__logo-line {
  display: flex;
  align-items: center;
}

.header__buttons > .button {
  margin-left: 15px;
}
.header__buttons > .button:first-child {
  margin-left: 0;
}
@media (max-width: 414px) {
  .header__buttons {
    display: none;
  }
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-2-column > * {
  flex-basis: 45%;
}

.footer__container {
  display: flex;
  align-items: start;
}

.navigation__title {
  margin: 0 0 15px;
}

.footer-navigation {
  flex-grow: 1;
}

.navigation__list {
  padding: 0;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: #544837;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
}

.promo {
  padding: 30px 0;
  overflow: hidden;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 414px) {
  .promo__container {
    flex-direction: column-reverse;
  }
}

.promo__content {
  padding-right: 65px;
}
@media (max-width: 768px) {
  .promo__content {
    padding-right: 0;
  }
}
@media (max-width: 414px) {
  .promo__content {
    text-align: center;
  }
}

.promo__title {
  margin: 0 0 30px;
}
@media (max-width: 414px) {
  .promo__title {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.2rem;
  }
}

.promo__text {
  max-width: 400px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 0 0 45px;
}
@media (max-width: 768px) {
  .promo__text {
    width: 380px;
  }
}
@media (max-width: 414px) {
  .promo__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    width: 100%;
    margin: 0 0 23px;
  }
}

@media (max-width: 414px) {
  .promo__image {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.promo__buttons {
  display: flex;
  align-items: center;
}
.promo__buttons > button {
  margin-right: 38px;
}
@media (max-width: 414px) {
  .promo__buttons > button {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 414px) {
  .promo__buttons {
    flex-direction: column;
  }
}

.menu {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
}

.menu__item {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  cursor: pointer;
}
.menu__item:hover {
  color: #ff9900;
}
.menu__item:not(:last-child) {
  margin-right: 17px;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .tool {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .tool-wrapper > .tool {
    flex-wrap: wrap;
    flex-basis: 48%;
  }
}
@media (max-width: 414px) {
  .tool-wrapper > .tool {
    flex-basis: 100%;
  }
}

.tools__container {
  padding-bottom: 90px;
  background-image: url("../../images/tools-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.tools__title {
  max-width: 462px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.tool__title {
  margin: 0 0 16px;
}

.tool__icon {
  display: inline-flex;
  margin-bottom: 30px;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}

.strategies {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .strategies {
    text-align: center;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .strategies__tags {
    justify-content: center;
  }
}

.strategy {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .strategy {
    overflow: hidden;
  }
}

.strategies__container {
  gap: 30px 0;
}
@media (max-width: 768px) {
  .strategies__container > * {
    flex-basis: 48%;
  }
}
@media (max-width: 414px) {
  .strategies__container > * {
    flex-basis: 100%;
  }
}

.strategy__content {
  padding: 26px 34px;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.strategy__heading {
  margin: 0 0 29px;
}

.contuct-us {
  background-color: #ffeee1;
  padding: 62px 82px;
}

.contact-us__form input,
.contact-us__form textarea {
  border: none;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 5px;
}
.contact-us__form input:focus,
.contact-us__form textarea:focus {
  outline: 1px solid #ff9900;
}
.contact-us__form textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.contact-us__line {
  margin-bottom: 19px;
}

.employee {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 35px;
  position: relative;
}

.employee__photo {
  position: absolute;
  top: 20px;
  right: -32px;
  object-fit: none;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  object-position: -28px -14px;
}

.employee__name {
  margin: 0;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
}

.employee__title {
  margin: 0;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

.employee__email {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  color: #1943ef;
  text-decoration: none;
}

.employee__container {
  padding-right: 32px;
}

/*# sourceMappingURL=style.css.map */
