.tool {
    @include media-tablet {
        text-align: center;
    }
}

.tool-wrapper {
    >.tool {
        @include media-tablet {
            flex-wrap: wrap;
            flex-basis: 48%;
        }
        @include media-mobile {
            flex-basis: 100%;
        }
    }
}

.tools__container {
    padding-bottom: 90px;
    background-image: url("../../images/tools-bg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.tools__title {
    max-width: 462px;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
}

.tool__title {
    margin: 0 0 16px;
}

.tool__icon {
    display: inline-flex;
    margin-bottom: 30px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}